/* 
 * Colors 
 */

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-light {
  background-color: var(--color-lightGrey) !important;
}

.bg-dark {
  background-color: var(--color-darkGrey) !important;
}

.bg-grey {
  background-color: var(--color-grey) !important;
}

.bg-error {
  background-color: var(--color-error) !important;
}

.border-success {
  background-color: var(--color-success) !important;
}

.border-primary {
  border: 1px solid var(--color-primary) !important;
}

.border-light {
  border: 1px solid var(--color-lightGrey) !important;
}

.border-dark {
  border: 1px solid var(--color-darkGrey) !important;
}

.border-grey {
  border: 1px solid var(--color-grey) !important;
}

.border-error {
  border: 1px solid var(--color-error) !important;
}

.border-success {
  border: 1px solid var(--color-success) !important;
}

.text-base {
  color: var(--font-color) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-light {
  color: var(--color-lightGrey) !important;
}

.text-dark {
  color: var(--color-darkGrey) !important;
}

.text-grey {
  color: var(--color-grey) !important;
}

.text-error {
  color: var(--color-error) !important;
}

.text-success {
  color: var(--color-success) !important;
}

.text-white {
  color: #fff !important;
}

/* 
 * Position & alignment 
 */

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-capitalize {
  text-transform: capitalize;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100% !important;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.fixed {
  position: fixed;
}

/* 
 * Spacing 
 */

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: var(--size-1);
}

.p-2 {
  padding: var(--size-2);
}

.p-3 {
  padding: var(--size-3);
}

.p-4 {
  padding: var(--size-4);
}

.p-5 {
  padding: var(--size-5);
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: var(--size-1);
}

.mx-1 {
  margin-left: var(--size-1);
  margin-right: var(--size-1);
}

.my-1 {
  margin-top: var(--size-1);
  margin-bottom: var(--size-1);
}

.m-2 {
  margin: var(--size-2);
}

.mx-2 {
  margin-left: var(--size-2);
  margin-right: var(--size-2);
}

.my-2 {
  margin-top: var(--size-2);
  margin-bottom: var(--size-2);
}

.m-3 {
  margin: var(--size-3);
}

.mx-3 {
  margin-left: var(--size-3);
  margin-right: var(--size-3);
}

.my-3 {
  margin-top: var(--size-3);
  margin-bottom: var(--size-3);
}

.m-4 {
  margin: var(--size-4);
}

.mx-4 {
  margin-left: var(--size-4);
  margin-right: var(--size-4);
}

.my-4 {
  margin-top: var(--size-4);
  margin-bottom: var(--size-4);
}

/* 
 * other 
 */

.cursor-pointer {
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}
